<h1>Create New Discount</h1>
<div class="new_discount_form">
  <%= form_with model: [:merchant, discount], local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, value: discount.name %><br>
    <%= f.label :quantity_threshold %>
    <%= f.number_field :quantity_threshold, min: 0, value: discount.quantity_threshold %><br>
    <%= f.label :percentage %>
    <%= f.number_field :percentage, min: 0, value: discount.percentage %><br>
    <%= f.submit 'Create New Discount' %>
  <% end %>
</div>
